@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nokora:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400&display=swap');

body {
    background: url(/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

center {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 35px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box {
    border-radius: 5px;
    max-width: 1000px;
    width: auto;
    border: 1.5px solid rgb(236, 232, 232);
    padding: 15px;
}

.img-center {
    text-align: center;
    width: auto;
    opacity: 1;
}

.grid-rows-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.columns {
    padding-left: 5%;
    padding-right: 5%;
}

p {
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
