#app {
    height: 100%;
  }
  .body-card {
    position: relative;
    height: 100%;
  }
  
  .body-card {
    margin: 0;
    padding: 0;
    margin-top: 8px;
  }
   
  .swiper {
    width: 70%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    color: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 500px;
    height: auto;
    object-fit: cover;
  
  }

  